.cover__link {
  width: 100%;
  z-index: 3;
  height: 100%;
  position: absolute;
  opacity: 0;
  background-color: black;
  transition: 0.6s;
}
.cover__link:hover {
  opacity: 0.6;
  transition: 0.6s;
}