.places__place{
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-areas: 
  "title website"
  "image paragraph"
  ". paragraph-bottom";
  gap: 40px;
  margin: 0 auto 80px;
}
@media screen and (max-width: 1024px) {
  .places__place{
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 32px;
    margin: 0 48px 80px;
  }
}
@media screen and (max-width: 768px) {
  .places__place{
    display: grid;
    grid-template-columns: 45% 48%;
    grid-template-areas: 
    "title website"
    "image paragraph"
    ". paragraph-bottom";
    gap: 28px;
    margin: 0 24px 80px 24px;
  }
}
@media screen and (max-width: 425px) {
  .places__place{
    margin: 0 auto 80px;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: 3.5% 4.5% min-content min-content;
    grid-template-areas: 
    "title"
    "website"
    "image"
    "paragraph";
    gap: 32px;
  }
}