.places__place{
  display: grid;
  grid-template-columns: 460px auto;
  grid-template-rows: repeat(2, min-content);
  grid-template-areas: 
  "title website"
  "image paragraph";
  gap: 40px;
  margin: 0 auto 80px;
}
.places__place:last-of-type {
  margin-bottom: 0;
}
@media screen and (max-width: 1279px) {
  .places__place{
    grid-template-columns: 440px auto;
    gap: 32px;
    margin: 0 auto 80px;

  }
}
@media screen and (max-width: 1023px) {
  .places__place{
    grid-template-columns: 340px auto;
    gap: 28px;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .places__place{
    max-width: 320px;
    grid-template-columns: auto;
    grid-template-columns: 320px;
    gap: 32px;
    grid-template-areas: 
  "title"
  "website"
  "image"
  "paragraph";
  margin: 0 auto 50px;
  padding: 0rem;
  }
}