.website__url-heading {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #ddd;
}
@media screen and (max-width: 768px) {
  .website__url-heading {
    font-size: 1rem;
    line-height: 12px;
  }
}
@media screen and (max-width: 425px) {
  .website__url-heading {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #aaa;
  }
}