.cover__title {
  margin: 245px 0 42px;
  width: 44%;
  font-family: 'inter';
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 4.7rem;
  text-align: center;
  align-self: center;
  color: #fff;
  z-index: 4;
}
@media screen and (max-width: 1024px) {
  .cover__title {
    width: 560px;
    margin: 195px auto 32px;
  }
}
@media screen and (max-width: 768px) {
  .cover__title {
    width: 73%;
    font-size: 4rem;
    line-height: 76px;
    margin: 115px auto 32px;
  }
}
@media screen and (max-width: 425px) {
  .cover__title {
    margin: 33px auto 16px;
    width: 90%;
    font-size: 32px;
    line-height: 35px;
  }
}