.places__website {
  grid-area: website;
  align-self: end;
  max-width: 456px;
  margin-bottom: 8px;
 }
 @media screen and (max-width: 1279px) {
  .places__website {
    max-width: 352px;
    margin: 0 0 16px 0;
  }
}
 @media screen and (max-width: 1023px) {
  .places__website {
    max-width: 352px;
    margin: 0 0 20px 0;
  }
}
@media screen and (max-width: 767px) {
  .places__website {
    max-width: 288px;
    margin: 0 0 0 16px;
  }
}